
@media (max-width: 1020px) {
    body {
        background: url('../images/bg-mobile.svg')  no-repeat;
        background-size: cover;
    }

    .conteiner-principal .content-wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .conteiner-principal .content-wrapper .imag-ilustration {
        max-width: 523px;
    }

    .conteiner-principal .content-wrapper .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteiner-principal .redissocias {
        display: flex;
        justify-content: center;
        margin-right: 38%;
        margin-top: 5%;
    }
}

@media (max-width: 780px) {
    .conteiner-principal{
        margin-top: 10%;
        height: 100vh;
    }
}

@media (max-width: 450px) {
    .conteiner-principal .content-wrapper{
        max-width: 300px;
        
    }
    .conteiner-principal .content-wrapper .imag-ilustration{
        max-width: 300px;
        margin-right: 10%;
        display: flex;
        justify-content: center;
    }

    .conteiner-principal .content-wrapper .text-content h1 {
        font-size: 1.6rem;
        text-align: center;
    }

    .conteiner-principal .content-wrapper .text-content p {
        font-size: 0.9rem;
        text-align: center;
        width: 290px;
    }

    .conteiner-principal .redissocias{
        margin-right: 29%;
    }
}